# EditorConfig is awesome!

# root
root = true

# apply to all files
[*]
# unix newline, final newline, 4 spaces, no tabs, trim whitespaces
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# charset
charset = utf-8
